/Taller OCP/TallerOCP/nbproject/private/
/Taller 2 SRP/Taller2SRP/nbproject/private/
/Taller 4 OCP/Taller4OCP/nbproject/private/
/Taller 4 OCP/Taller4OCP/build/
/Taller 5 LSP/Taller5LSP/nbproject/private/
/Taller4OCP/build/
/Taller4OCP/nbproject/private/
/Taller5LSP/nbproject/private/
/Taller5LSP/build/
/Taller6.2ISP/build/
/Taller6ISP/build/
/Taller7.3DIP/nbproject/private/
/Taller7.3DIP/build/
/Taller8DIP/nbproject/private/
/Taller8DIP/build/
/JavaApplication13/nbproject/private/
/Taller8SRP/nbproject/private/
/Taller8OCP/nbproject/private/
/Taller9DRY/nbproject/private/
/Taller9DRY/build/
/Taller9KISS/nbproject/private/
/Taller9KISS/build/
/Taller9KISS/dist/
/Taller9YAGNI/nbproject/private/
/Taller9YAGNI/build/
/Taller10Experto/nbproject/private/
/Taller10Experto/build/
/Taller10Experto/dist/
/Taller10Creador/nbproject/private/
/Taller10Creador/build/
/Taller10Controlador/nbproject/private/
/Taller10Controlador/build/
/Taller11FabricacionPura/nbproject/private/
/Taller11FabricacionPura/build/
/EjemIdireccio/nbproject/private/
/Taller12Indireccion/nbproject/private/
/Taller12Indireccion/build/
/Taller12VariacionesProtegidas/nbproject/private/
/Taller12VariacionesProtegidas/build/
/PruebaTest/nbproject/private/
/PruebaTest/build/
/PruebaTest/dist/
/MvnTest/target/
/Taller13PruebasUnitarias/target/
/Taller15AbstractFactory/nbproject/private/
/Taller15AbstractFactory/build/
/Taller15Factory/nbproject/private/
/Taller15Factory/build/
/EjemBuilder/nbproject/private/
/EjemBuilder/build/
/EjemBuilder2/nbproject/private/
/EjemBuilder2/build/
/EjemPrototype/nbproject/private/
/EjemPrototype/build/
/Taller16Builder/nbproject/private/
/Taller16Builder/build/
/Taller16Prototype/nbproject/private/
/Taller16Prototype/build/
/TallerMongoDB/target/
/Taller17Singleton/nbproject/private/
/Taller17Singleton/build/
/Neo4J/target/
/EjemBridge/nbproject/private/
/EjemBridge/build/
/Ejem2Bridge/nbproject/private/
/EjemBridge2/build/
/EjemComposite/nbproject/private/
/EjemComposite/build/
/EjemDecorator/nbproject/private/
/EjemDecorator/build/
/EjemDecorator2/nbproject/private/
/EjemDecorator2/build/
/EjemFacade/nbproject/private/
/EjemFacade/build/
/EjemCommand/nbproject/private/
/EjemCommand/build/
/EjemMediator/nbproject/private/
/EjemMediator/build/
/EjemObserver/nbproject/private/
/EjemObserver/build/
/EjemObserver2/nbproject/private/
/EjemObserver2/build/
/Parcial3/nbproject/private/
/Parcial3/build/
